# BusyBox 1.37.0：LiteOS 唯一 shell/init userspace 基线。
CONFIG_HAVE_DOT_CONFIG=y
CONFIG_PIE=y
CONFIG_EXTRA_CFLAGS="-march=rv64gc -mabi=lp64d -DBB_GLOBAL_CONST="
CONFIG_EXTRA_LDFLAGS="-march=rv64gc -mabi=lp64d -Wl,-z,relro,-z,now,-z,noexecstack"
CONFIG_FEATURE_EDITING=y
CONFIG_FEATURE_EDITING_MAX_LEN=1024
CONFIG_FEATURE_EDITING_HISTORY=64
CONFIG_FEATURE_EDITING_FANCY_PROMPT=y
CONFIG_FEATURE_EDITING_WINCH=y

CONFIG_CAT=y
CONFIG_BASENAME=y
CONFIG_CP=y
CONFIG_CUT=y
CONFIG_DD=y
CONFIG_DIRNAME=y
CONFIG_ECHO=y
CONFIG_EXPR=y
CONFIG_FALSE=y
CONFIG_HEAD=y
CONFIG_LS=y
CONFIG_FEATURE_LS_FILETYPES=y
CONFIG_FEATURE_LS_FOLLOWLINKS=y
CONFIG_MKDIR=y
CONFIG_MV=y
CONFIG_PRINTF=y
CONFIG_PWD=y
CONFIG_RM=y
CONFIG_RMDIR=y
CONFIG_SEQ=y
CONFIG_SHA256SUM=y
CONFIG_SLEEP=y
CONFIG_SORT=y
CONFIG_SYNC=y
CONFIG_TAIL=y
CONFIG_TEE=y
CONFIG_TOUCH=y
CONFIG_TR=y
CONFIG_TRUE=y
CONFIG_UNIQ=y
CONFIG_WC=y
CONFIG_GREP=y

CONFIG_TOP=y
CONFIG_FEATURE_TOP_INTERACTIVE=y
CONFIG_FEATURE_TOP_CPU_USAGE_PERCENTAGE=y
CONFIG_FEATURE_TOP_CPU_GLOBAL_PERCENTS=y
CONFIG_FEATURE_TOP_SMP_CPU=y
CONFIG_FEATURE_TOP_DECIMALS=y
CONFIG_FEATURE_TOP_SMP_PROCESS=y
# CONFIG_FEATURE_TOPMEM is not set

CONFIG_SED=y
CONFIG_AWK=y

CONFIG_FIND=y

CONFIG_GZIP=y
CONFIG_GUNZIP=y
CONFIG_ZCAT=y

CONFIG_INIT=y
CONFIG_FEATURE_USE_INITTAB=y
CONFIG_FEATURE_INIT_SCTTY=y

CONFIG_SH_IS_ASH=y
CONFIG_ASH=y
CONFIG_ASH_INTERNAL_GLOB=y
CONFIG_ASH_JOB_CONTROL=y
CONFIG_ASH_ALIAS=y
CONFIG_ASH_EXPAND_PRMT=y
CONFIG_ASH_ECHO=y
CONFIG_ASH_PRINTF=y
CONFIG_ASH_TEST=y
CONFIG_ASH_HELP=y
CONFIG_ASH_GETOPTS=y
CONFIG_ASH_CMDCMD=y
CONFIG_FEATURE_SH_MATH=y
CONFIG_FEATURE_SH_MATH_64=y
# CONFIG_FEATURE_SH_STANDALONE is not set
# CONFIG_FEATURE_SH_NOFORK is not set
